.App {
  text-align: center;
}
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.start {
  opacity: 0;
  display: none;
}
.end {
  opacity: 1;
  transition: 2s;
}

.back {
  width: 100%;
  height: 60px;
}
.main-bg {
  height: 300px;
  background-image: url(./img/bg.png);
  background-size: cover;
  background-position: center;
}

.Link-to-home {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  transition: 0.5s;
  margin-left: 20px;
}
.Link-to-home:hover {
  color: #0d6efd;
}

.Link-to-detail {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  transition: 1s;
  margin-left: 20px;
}
.Link-to-detail:hover {
  color: #0d6efd;
}
.alert-box {
  width: 80%;
  background-color: blanchedalmond;
  padding: 30px;
  font-size: 22px;
}

.dined {
  display: none;
}

.btn-style {
  width: 100px;
  height: 50px;
  background-color: rgb(10, 15, 15);
  border: none;
  font-size: 16px;
  color: aliceblue;
  border-radius: 14px;
}

.space {
  margin-top: 100px;
}

.Navi-h {
  width: 100%;
  height: 100px;
  background-color: #ddd;
}
.start {
}

.bg {
  width: 100%;
  height: 300px;
  background-color: rgb(14, 1, 1);
  opacity: 0;
  transition: 1s;
  transform: rotateX(360);
}

.tc {
  width: 100%;
  height: 300px;
  opacity: 1;
  background-color: rgb(110, 61, 61);
}
