.App {
  text-align: center;
}

.back {
  width: 100%;
  height: 60px;
}
.main-bg {
  height: 300px;
  background-image: url(./img/bg.png);
  background-size: cover;
  background-position: center;
}

.Link-to-home {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin-right: 10px;

  transition: 1s;
}
.Link-to-home:hover {
  color: #fff;
  border: 2px solid skyblue;
  border-radius: 10px;
}

.Link-to-detail {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin-right: 10px;

  transition: 1s;
}
.Link-to-detail:hover {
  color: #fff;
  border: 2px solid skyblue;
  border-radius: 10px;
}
.alert-box {
  width: 80%;
  background-color: blanchedalmond;
  padding: 30px;
  font-size: 22px;
}

.dined {
  display: none;
}

.btn-style {
  width: 100px;
  height: 50px;
  background-color: rgb(10, 15, 15);
  border: none;
  font-size: 16px;
  color: aliceblue;
  border-radius: 14px;
}
